/*  ESTILO BARRA DE NAVEGAÇÃO DO SITE  */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Righteous&display=swap');

.navbar{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    background: #1e1c20 !important;
    padding: 6px 6% !important;
    position: relative !important;
    top: 0 !important;
    z-index: 100 !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) !important;
    text-decoration: none !important;
    
}

a
{
    text-decoration: none !important;
}

#link-home
{
text-decoration: none;
color: #fff;
}



.active-link
{
    text-decoration: none;
    color: #fff;
}

.logo img{
width: 25vh !important;
margin-right: 15px !important;
display: flex !important;

}

.imagem-logo{
    width: 25vh !important;
    margin-right: 15px !important;
    display: flex !important;
    
    }

 

.navbar-center ul li {
display: inline-block !important;  
list-style: none !important;


}
.navbar-center ul li a{
   
    display: flex !important;
    align-items: center !important;
    font-size: 14px !important;
    margin: 5px 8px !important;
    padding-right: 5px !important;
    position: relative !important;
}
.navbar-center ul li a img{
    width: 30px;    
}
.navbar-center ul li a:hover:after{
content: '' !important;
width: 0 !important;
height: 2px !important;
background: #fff !important;
position: absolute !important;
bottom: -10px !important;
transition: .9s !important;
}




#input-entrar
{
    border: none;
    background: #004AAD;
    padding: 3px;
    border-radius: 5px;
    color: #ffff ;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    text-decoration: none !important;  
       
}


#input-entrar a
{
    border: none;
    background: #004AAD;
    padding: 3px;
    color: #ffff ;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}



.navbar-center ul li a :hover::after,
.navbar-center ul li a.active-link::after
{
    width: 100% !important;
}

.nav-profile-img{
    width: 40px !important;
    border-radius: 50% !important;
    display: block !important;
    cursor: pointer !important;
    position: relative !important;
}


.search-box{
    background: #f0f2f5 ;
    width:250px ;
    border-radius:20px ;
    display: flex !important;
    align-items: center;
    padding: 5px;
}
.navbar-left{
    display: flex;
   align-items: center;
}

.search-box input{
width: 100%;
background: transparent;
padding: 7px;
outline: none;
border: 0;
}

@media screen and (max-width:768px ){
    .navbar-left img{
        width: 0px;
        
    }
}



/*  ESTILO CORPO DO SITE  */




@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Righteous&display=swap');

*{
  padding: auto;
  
}

body
{
  background: #302f2f !important;
}

.bg-dark{
  background-color: black !important; 
}

  #frase-principal-1{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size:10vh;
    
   }
  #frase-principal-2{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size:10vh;
    
   }
   
   #frase-principal-3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size:10vh; 
   }

   .ra{
    font-family: 'Inter', sans-serif;
    color: black;
    width: auto;
    text-align: center !important;
    font-size:10vh;
   }

   #aqui 
   {font-family: 'Inter', sans-serif;
   color: black;
   width: auto;
   text-align: center !important;
   font-size:10vh;
   padding-top:none;
  }


   #frase-1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    color: #fff;
    text-align: center; 
    
   }

  #frase-2{
    
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 1.2rem;
    color: #fff;
    text-align: center; 
  }
#marcador{
width: 40px;
padding-top: 40px;
padding-bottom: 40px;
}
#seta{
  width: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: .4px solid #fff;
  
}

#linha{
  width: 10%;
	text-align:center ; 
	margin: 0 auto 0 0; 
  border-width: 0; 
	height: 1px;
	border-top-width: 1px;
  align-items: center;
  padding-bottom:40px; 
  justify-content: center;
  padding-left: 40%;
  
  

}



 .card-body{
 text-align: center !important;  
 display: flex !important;
 justify-content: center !important;
 align-items: center !important;
  }
 
  #formulario-rodape{
    font-size :1.5rem; ;
  }
  .form-check-label{
    font-style: italic;
    font-size: 1.1rem;
  }

  .cadastre-rodape{font-family: 'Inter', sans-serif;
    color: black;
  text-decoration: underline white;}

.perfil-usuario{
  align-items:right;
  width: 50px;
 border-radius: 100px;
  justify-content: right;
  margin-left: 50px;
  height: 50px;
  

}

.frase-secundaria
{
  font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    
}

.cards-servicos
{
  text-align: center !important;  
 display: flex !important;
 justify-content: center !important;
 align-items: center !important;
}





