
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Righteous&display=swap');

.navbar{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    background: #1e1c20 !important;
    padding: 6px 6% !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 100 !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) !important;
    
}

#link-home
{
text-decoration: none;
color: #fff;
}

.nav-links
{
    text-decoration: none;
    color: #fff;
}

.logo img{
width: 25vh !important;
margin-right: 15px !important;
display: flex !important;

}
.navbar-center ul li {
display: inline-block !important;  
list-style: none !important;

}
.navbar-center ul li a{
    display: flex !important;
    align-items: center !important;
    font-size: 14px !important;
    margin: 5px 8px !important;
    padding-right: 5px !important;
    position: relative !important;
}
.navbar-center ul li a img{
    width: 30px;    
}
.navbar-center ul li a::after{
content: '' !important;
width: 0 !important;
height: 2px !important;
background: #fff !important;
position: absolute !important;
bottom: -15px !important;
transition: 0.9s !important;
}

#input-logar
{
    border: none;
    background: #004AAD;
    padding: 3px;
    border-radius: 5px;
    color: #ffff ;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    text-decoration: none;  
    
       
}

.btn-link
{
    padding-left:230px;
}

.btn-link-2 
{
    padding-left:10px;
    
}

#input-logar a
{
    border: none;
    background: #004AAD;
    padding: 3px;
    color: #ffff ;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
}



#input-criar
{
    border: none;
    background: #004AAD;
    padding: 3px;
    border-radius: 5px;
    color: #ffff ;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    text-decoration: none;  
       
}


#input-criar a
{
    border: none;
    background: #004AAD;
    padding: 3px;
    color: #ffff ;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}



.navbar-center ul li a :hover::after,
.navbar-center ul li a.active-link::after
{
    width: 100% !important;
}

.nav-profile-img{
    width: 40px !important;
    border-radius: 50% !important;
    display: block !important;
    cursor: pointer !important;
    position: relative !important;
}


.search-box{
    background: #f0f2f5 ;
    width:250px ;
    border-radius:20px ;
    display: flex !important;
    align-items: center;
    padding: 5px;
}
.navbar-left{
    display: flex;
   align-items: center;
}

.search-box input{
width: 100%;
background: transparent;
padding: 7px;
outline: none;
border: 0;
}
