
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Righteous&display=swap');

.bg-dark{
  background-color: black !important; 
}

  #frase-principal-1{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size:10vh;
    
   }
  #frase-principal-2{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size:10vh;
    
   }
   
   #frase-principal-3{
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 20px;
    font-size:10vh; 
   }

   .ra{
    font-family: 'Inter', sans-serif;
    color: black;
    width: auto;
    text-align: center !important;
    font-size:10vh;
   }

   #aqui 
   {font-family: 'Inter', sans-serif;
   color: black;
   width: auto;
   text-align: center !important;
   font-size:10vh;
   padding-top:none;
  }


   #frase-1{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    color: #fff;
    text-align: center; 
    
   }

  #frase-2{
    
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    font-size: 1.2rem;
    color: #fff;
    text-align: center; 
  }
#marcador{
width: 40px;
padding-top: 40px;
padding-bottom: 40px;
}
#seta{
  width: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: .4px solid #fff;
  
}

#linha{
  width: 10%;
	text-align:center ; 
	margin: 0 auto 0 0; 
  border-width: 0; 
	height: 1px;
	border-top-width: 1px;
  align-items: center;
  padding-bottom:40px; 
  justify-content: center;
  padding-left: 40%;
  
  

}



 .card-body{
 text-align: center;  
  }
 
  #formulario-rodape{
    font-size :1.5rem; ;
  }
  .form-check-label{
    font-style: italic;
    font-size: 1.1rem;
  }

  .cadastre-rodape{font-family: 'Inter', sans-serif;
    color: black;
  text-decoration: underline white;}

.perfil-usuario{
  align-items:right;
  width: 50px;
 border-radius: 100px;
  justify-content: right;
  margin-left: 50px;
  height: 50px;
  

}

.frase-secundaria
{
  font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    
}
  
